{
    "extends": [
      "eslint:recommended",
      "airbnb-base"
    ],
    "rules": {
      "no-underscore-dangle": ["error", { "allow": ["_id"]}]
    },
    "env": {
      "node": true,
      "es2021": true,
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": "latest"
    }
  }